.hero {
  padding: 100px 0;
  background-color: $primary;
  overflow: hidden;

  &--content {
    color: $white;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 7rem;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      font-size: 2.4rem;
      margin-bottom: 30px;
    }
  }

  &--swiper {
    margin-top: 70px;
    overflow: visible;

    .swiper-slide {
      height: initial;
    }

    .card-hero {
      background-color: $secondary;
      padding: 30px;
      border-radius: 10px;
      color: $white;

      &--title {
        font-weight: 600;
        margin-bottom: 30px;
      }

      &--img {
        padding: 0 30px;
        height: 280px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &--personal,
  &--corporate {
    padding-top: 50px;
  }

  &--corporate {
    position: relative;
    padding: 200px 0;

    .hero--img {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 50px;
      width: 55%;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: right;
      }
    }

    .text-certified {
      display: inline-flex;
      align-items: center;
      text-align: left;
      padding: 12px;
      margin-top: 50px;
      background-color: $secondary;
      border-radius: 6px;
      gap: 12px;

      .icon {
        display: flex;
        flex-shrink: 0;
        width: 20px;
      }

      .text {
        color: $white;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}

// < 1400px
@include media-breakpoint-down(xxl) {
  .hero--corporate {
    padding: 50px 0 100px;

    .hero--img {
      width: 50%;
      bottom: 0;
    }
  }
}

// < 1200px
@include media-breakpoint-down(xl) {
  .hero {
    padding-top: 50px;

    &--swiper {
      .card-hero {
        &--img {
          height: 150px;
        }
      }
    }

    &--corporate {
      .hero--img {
        position: static;
        width: 100%;
        padding: 0 $grid-gutter-width/2;
        text-align: center;

        img {
          max-width: 66.66666667%;
        }
      }
    }
  }
}

// < 992px
@include media-breakpoint-down(lg) {
  .hero {
    &--content {
      h1 {
        font-size: 5rem;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .hero {
    padding: 60px 0;

    &--content {
      h1 {
        font-size: 3.6rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    &--swiper {
      margin-top: 50px;
    }

    &--corporate {
      .hero--img {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

// < 576px
@include media-breakpoint-down(sm) {
  .hero {
    &--content {
      h1 {
        font-size: 3rem;
      }
    }

    &--corporate {
      .hero--img {
        img {
          max-width: 100%;
        }
      }
    }
  }
}